<article class="order-detail">

    <div class="order-summary jumbotron">
      <h4>Thank you for your order!</h4>
    </div>
    <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Quantity Price Total</th>
        </tr>
      </thead>
      <tbody>
        <% LineItem.where(order_id: @order.id).each do |order|%>
          <%= render 'order', product: Product.find(order[:product_id]), quantity: order[:quantity].to_i, total_price_cents: order[:total_price_cents]%>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            $<%= (@order.total_cents.to_f* 0.01).round(2) %>
          </th>
        </tr>
      </tfoot>
    </table>
    </div>

  </article>