<tr>
  <td>
    <p>
    <%= review.description %> 
    <div align="right">reviewed by <%= reviewer.first_name%> <%=reviewer.last_name %></div> 
    <% if current_user.id == review.user_id  %>
      <%= link_to "Delete", product_review_path(review.user_id, review.id), method: :delete, data: { confirm: "Are you sure?"} %> 
    <% end %>
    </p>
  </td>
</tr>
